.tracks-edit {
    position: absolute;
    width: 300px;
    height: 120px;
    top: 5vh;
    /* border: 1px black solid; */
    left: 860px;
    z-index: 5;
}

.track-style {
    position: relative;
    height: 72px;
    width: 60%;
    max-width: 900px;
    left: 40px;
    text-align: center;
    padding-top: 5px;
    /* border: 1px black solid; */
}

.track-popularity {
    left: 550px;
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 40px;
    height: 14px;
    top: 35px;
    justify-items: start;
    align-items: start;
    flex-direction: row;
    color: grey;
}

.fill-up-popularity {
    position: relative;
    height: 11px;
    bottom: 0;
    width: 5%;
    border: 1px white solid;
}

.thumbnail-container {
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    border: 5px;
    animation: .85s loadanimation ease-out;
}

@keyframes loadanimation {
    0% {
        opacity: 0;
        right: 0px;
    }
    100% {
        opacity: 1;
    }
}

.thumbnail-filter {
    position: absolute;
    width: 65%;
    border-top: 1px #E36588 solid;
    top: 0px;
    height: 43px;
    left: 0px;
    z-index: 6;
    background-color: white;
    border-bottom: 3px pink solid;
}

.filter-by-artist {
    position: absolute;
    height: 100%;
    bottom: 4px;
    width: 140px;
    right: 274px;
    text-align: left;
    font-weight: 700;
}

.filter-by-sort {
    position: absolute;
    height: 100%;
    bottom: 4px;
    width: 140px;
    right: 50px;
    text-align: left;
    font-weight: 700;
}

.filter-sort-text {
    position: absolute;
    font-size: 18px;
    bottom: 5px;
    text-decoration: underline;
}

.filter-artist-text {
    position: absolute;
    font-size: 18px;
    bottom: 5px;
    text-decoration: underline;
}

.tracklist-container {
    position: absolute;
    width: 90vw;
    height: 90vh;
    top: 0;
    left: 5.5vw;
    /* background-color: white; */
    z-index: 4;
    /* border: 2px pink solid; */
}

.track-edit {
    position: relative;
}

.imageStyle {
    position: absolute;
    display: inline-block;
    left: -3px;
    width: 75px;
    height: 72px;
    z-index: 0;
    top: 3.5px;
    border-radius: 5px;
    border: .2px #edf6f9 solid;
}

.play-circle {
    position: absolute;
    height: 55px;
    width: 55px;
    z-index: 2;
    top: 15px;
    left: 10px;
    opacity: 0;
    background-image: url('../data/icons/play.svg');
}

.img-hover {
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 2;
}

.img-hover:hover .play-circle {
    opacity: 1;
    animation: 1s expand-play linear alternate infinite;
}

@keyframes expand-play {
    0% {
        transform: scale(.9);
    }
    25% {
        transform: scale(.88);
    }
    50% {
        transform: scale(.85);
    }
    100% {
        transform: scale(.83)
    }
}

.edit-settings {
    position: relative;
    width: 200px;
    height: 55px;
    font-size: 3rem;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 20px;
    left: 20px;
    top: -50px;
    border-radius: 18px;
    border: 4px white solid;
    box-shadow: 4px 3px 10px grey;
    background-color: whitesmoke;
    background: linear-gradient(90deg, rgba(255, 184, 92, 1) 0%, rgba(227, 101, 136, 1) 75%);
}

.check-new-artists {
    position: relative;
    top: 25px;
    left: 14px;
    font-size: 20px;
    /* border: 1px black solid; */
    /* outline: 1px solid #1e5180 */
}

.check-square {
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-image: url('../data/icons/checkbox.svg');
}

.times-circle {
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url('../data/icons/cancel.svg');
}

.new-artist {
    position: relative;
    top: -8px;
    left: -5px;
    width: 35px;
    height: 35px;
    /* border: 0px white solid; */
}

.new-artist-label {
    position: absolute;
    top: -12px;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
    left: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px black solid; */
    width: 120px;
    height: 55px;
}

.add-playlist-button {
    position: absolute;
}

.refresh-tracks-button {
    position: relative;
    width: 70px;
    height: 85px;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 15px;
    left: 24px;
    top: 16px;
    border-radius: 10px;
    border: 4px white solid;
    box-shadow: 4px 3px 10px grey;
    background-color: whitesmoke;
    background: linear-gradient(90deg, rgba(255, 184, 92, 1) 0%, rgba(227, 101, 136, 1) 75%);
}

.refresh-tracks-button:hover .refresh {
    cursor: pointer;
    animation: 10s linear rotating infinite;
}

.refresh {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 5rem;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-size: contain;
    background-image: url('../data/icons/refresh.svg');
}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg)
    }
}

.play-playlist-button {
    position: relative;
    width: 70px;
    height: 85px;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 15px;
    left: 180px;
    top: -90px;
    border-radius: 10px;
    border: 4px white solid;
    box-shadow: 4px 3px 10px grey;
    background-color: whitesmoke;
    background: linear-gradient(90deg, rgba(255, 184, 92, 1) 0%, rgba(227, 101, 136, 1) 75%);
}

.play-playlist-button:hover .play-circle-o {
    animation: 1s expand-play linear infinite alternate;
}

@keyframes expand-play {
    0% {
        transform: scale(.9);
    }
    25% {
        transform: scale(.88);
    }
    50% {
        transform: scale(.87);
    }
    100% {
        transform: scale(.85)
    }
}

.play-circle-o {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 75px;
    height: 75px;
    font-size: 5rem;
    color: white;
    background-image: url('../data/icons/play.svg')
}

.play-circle-o:hover {
    cursor: pointer;
    color: whitesmoke;
}